
<!DOCTYPE html>
<html>
<head>
<title>Products</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<h1 class="title">Products</h1>

<div class="products">

<% products.forEach(product=>{ %>

<div class="card">
<h2><%= product.name %></h2>
<p><%= product.desc %></p>
<span>$<%= product.price %></span>
<a href="/buy/<%= product.name %>" class="buy">Buy</a>
</div>

<% }) %>

</div>

</body>
</html>
