
<!DOCTYPE html>
<html>
<head>
<title>Order Success</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="success">
<h1>Order Created</h1>
<p>Your order for <%= product %> has been received</p>
<p>Open ticket: https://discord.gg/FhyVcYxc7</p>
</div>

</body>
</html>
