
body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

.hero{
text-align:center;
padding:140px;
background:linear-gradient(135deg,#1a1a1a,#000);
}

.hero h1{
font-size:70px;
letter-spacing:3px;
}

.btn{
background:#6c5cff;
padding:15px 30px;
color:white;
text-decoration:none;
border-radius:8px;
}

.title{
text-align:center;
margin-top:40px;
}

.products{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
}

.card{
background:#1a1a1a;
padding:30px;
width:260px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.buy{
display:block;
margin-top:15px;
background:#6c5cff;
padding:10px;
color:white;
text-decoration:none;
border-radius:6px;
}

.success{
text-align:center;
margin-top:150px;
}
